server {
  listen  80;
  server_name {{ domain }};
  root {{ html_root }}/{{ project }};

  location / {
    index index.html index.htm index.php;
  }

  location ~* \.php$ {
    fastcgi_pass    127.0.0.1:9000;
    fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
    include fastcgi_params;
  }

  location /check.gif {
    empty_gif;
    allow 192.168.1.0/24;
    deny all;
  }
  location /status {
    allow 192.168.1.0/24;
    deny all;
    stub_status on;
  }
}
