pid file = /var/run/rsyncd.pid
port = 873
uid = root
gid = root

use chroot = yes
read only = yes

#hosts allow = 192.168.*.*
#hosts deny = *

max connections = 0
motd file = /usr/local/webserver/rsync/conf/rsyncd.motd

log file = /var/log/rsync.log

reverse lookup = no

log format = %t %a %m %f %b
syslog facility = local3
timeout = 300

[{{ project }}]
auth users = king
secrets file = /etc/rsyncd.conf.d/rsyncd.pass
path =  {{ html_root }}/{{ project }}
exclude from = /etc/rsyncd.conf.d/rsyncd.exclude
list = no
ignore errors = yes
comment = for the lich king
read only = no
#hosts allow = 192.168.*.*
#hosts deny = *

